<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <h4>{{contact.name}}</h4>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <h4 class="list-group-item-heading">
                <img style="max-height: 100px;"
                     [src]="contact.imageUrl"
                     alt="{{contact.name}}">
              </h4>
            </div>
            <span class="pull-right">
             <a [routerLink]="['edit']"
                class="btn btn-primary"
                style="margin-right: 5px;">Edit</a>
                 <a (click)="onDelete()"
                    class="btn btn-danger">Delete</a>

      </span>

          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="list-group-item-heading">
          Email: {{contact?.email}}</div>
        <div class="list-group-item-heading">
          Phone: {{contact?.phone}}</div>

      </div>

      <div class="panel-footer" *ngIf="contact?.group && contact?.group.length > 0">
        <h3>Group Contacts: </h3>
        <div *ngFor="let groupContact of contact?.group">
          <div>
            {{groupContact?.name}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
